body.custom-background {
  background-image: url('https://i.ibb.co/DR2Cqdc/IMG-8240.jpg');
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
